<!--  -->
<!--  -->
<!--  -->

<!-- Design For Extra Small(xs: Mobile L, Mobile, M, and Mobile S) -->
<div class="mat-elevation-z2 mat-elevation-z8 container">
    <h1 class="header">
        Age Calculator
    </h1>
    <!--  -->
    <!--  -->
    <div style="padding: 16px; border: 2px solid teal; margin:20px 20px;">
        <a style="text-decoration: none; font-size: 18px; padding: 10px; margin:16px"
            href="https://www.npmjs.com/package/amazing-time-picker" target="_blank">Amaizing Time Picker</a>
        <br><br>
        <a style="text-decoration: none; font-size: 18px; padding: 10px; margin:16px"
            href="https://owsolutions.github.io/amazing-time-picker#/examples" target="_blank">Amaizing Time Picker
            Examples</a>
    </div>
    <!--  -->
    <!--  -->
    <form [formGroup]="age_form" (ngSubmit)="onSubmit()" class="form">

        <mat-form-field appearance="fill">
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="from_date_dp" required formControlName="from_date">
            <mat-datepicker-toggle matSuffix [for]="from_date_dp"></mat-datepicker-toggle>
            <mat-datepicker #from_date_dp></mat-datepicker>

            <!-- Mat Errors For Date -->
            <mat-error *ngIf="from_date.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="from_date.hasError('matDatepickerParse')">
                Please Enter a Valid Date. <strong>Ex: March 20, 2020</strong>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <!--  -->
        <mat-form-field appearance="fill">
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="to_date_dp" formControlName="to_date">
            <mat-datepicker-toggle matSuffix [for]="to_date_dp"></mat-datepicker-toggle>
            <mat-datepicker #to_date_dp></mat-datepicker>

            <mat-hint>
                <strong>
                    Change Current Date Value To Calculate Custom Age
                </strong>
            </mat-hint>
            <!-- Mat Errors For Date -->
            <mat-error *ngIf="to_date.hasError('matDatepickerParse')">
                Please Enter a Valid Date. <strong>Ex: March 20, 2020</strong>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <!--  -->
        <!--  -->
        <button class="mt-23" type="submit" mat-raised-button color="primary">Calculate</button>
    </form>

    <br>
    <div *ngIf="show_age">
        <div class="age-success">
            <p class="font-success">
                {{ age_format }}
            </p>
            <!--  -->

            <!--  -->
            <div style="display: flex; align-items: center; flex-direction: column;">
                <button (click)="show_details = !show_details" mat-raised-button color="primary">See Details</button>
            </div>
        </div>
    </div>
</div>