/*  */
/*  */
/*  */

.age-error {
    background-color: red; 
    padding: .5rem; 
    color: white; 
    font-size: 2rem;
}

.age-success {
    background-color: #27ae60;
    padding: .5rem;
}

.font-success {
    font-size: 1.7rem;
    color: white;

    text-align: center;
}