<!--  -->
<!--  -->
<!--  -->

<!-- Design For Extra Small(xs: Mobile L, Mobile, M, and Mobile S) -->
<div class="mat-elevation-z2 mat-elevation-z8 container">
    <h1 class="header">
        Age Calculator
    </h1>
    <!--  -->
    <!--  -->
    <form [formGroup]="age_form" (ngSubmit)="onSubmit()" class="form">

        <mat-form-field appearance="fill">
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="from_date_dp" required formControlName="from_date">
            <mat-datepicker-toggle matSuffix [for]="from_date_dp"></mat-datepicker-toggle>
            <mat-datepicker #from_date_dp></mat-datepicker>

            <!-- Mat Errors For Date -->
            <mat-error *ngIf="from_date.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="from_date.hasError('matDatepickerParse')">
                Please Enter a Valid Date. <strong>Ex: March 20, 2020</strong>
            </mat-error>
        </mat-form-field>

        <!--  -->
        <button mat-raised-button type="button" (click)="showTimeField_from()">
            {{ from_time_text }} For From Date
        </button>
        <br>
        <!--  -->
        <div *ngIf="showTimeField"
            style="display: flex; flex-direction: row; width: inherit; justify-content: center; margin-bottom: 12px; margin-top: 5px;">
            <!-- Hour -->
            <mat-form-field appearance="outline" class="time">
                <mat-label>Hour</mat-label>
                <input type="number" matInput formControlName="hour" required>
                <mat-hint>EX: 12 or 09</mat-hint>

                <!-- Errors -->
                <mat-error *ngIf="hour.hasError('required')">
                    This Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="hour.hasError('min')">
                    Minimum value is <strong>1</strong>
                </mat-error>

                <mat-error *ngIf="hour.hasError('max')">
                    Maximum value is <strong>12</strong>
                </mat-error>

                <mat-error *ngIf="hour.hasError('pattern')">
                    Please Enter a Valid Hour
                </mat-error>
                <!--  -->
            </mat-form-field>
            <!--  -->
            <!-- Minute -->
            <mat-form-field appearance="outline" class="time ml-5">
                <mat-label>Minute</mat-label>
                <input type="text" matInput required formControlName="minute">
                <mat-hint>
                    <strong>EX: 24 or 09</strong>
                </mat-hint>

                <!-- Errors -->
                <mat-error *ngIf="minute.hasError('required')">
                    This Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="minute.hasError('min')">
                    Minimum value is <strong>0</strong>
                </mat-error>

                <mat-error *ngIf="minute.hasError('max')">
                    Maximum value is <strong>59</strong>
                </mat-error>

                <mat-error *ngIf="minute.hasError('pattern')">
                    Please Enter a Valid Minute
                </mat-error>
            </mat-form-field>

            <strong class="amPm">
                <pre>{{ amOrpm.value }}</pre>
            </strong>

            <mat-button-toggle-group (change)="amOrPmValueChange(amOrpm.value)" #amOrpm="matButtonToggleGroup"
                style="height: 50px; margin-top: 3px; margin-left: 5px;" color="primary">
                <mat-button-toggle value="am">AM
                </mat-button-toggle>
                <mat-button-toggle value="pm">PM
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!--  -->
        <!-- AM PM Error -->
        <div *ngIf="amOrpmValue === '' && minute.touched && hour.touched && minute.dirty && hour.dirty"
            style="background-color: red; color: white; padding: 5px; margin-bottom: 12px; margin-top: 10px;">
            <strong>
                Please Select Am or Pm
            </strong>
        </div>
        <!--  -->
        <!--  -->
        <mat-form-field appearance="fill">
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="to_date_dp" formControlName="to_date">
            <mat-datepicker-toggle matSuffix [for]="to_date_dp"></mat-datepicker-toggle>
            <mat-datepicker #to_date_dp></mat-datepicker>

            <mat-hint>
                <strong>
                    Change Current Date Value To Calculate Custom Age
                </strong>
            </mat-hint>
            <!-- Mat Errors For Date -->
            <mat-error *ngIf="to_date.hasError('matDatepickerParse')">
                Please Enter a Valid Date. <strong>Ex: March 20, 2020</strong>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <!--  -->
        <button mat-raised-button type="button" (click)="showTimeField_to_func()">
            {{ to_time_text }} For To Date
        </button>
        <br>
        <!--  -->
        <div *ngIf="showTimeField_to"
            style="display: flex; flex-direction: row; width: inherit; justify-content: center; margin-bottom: 12px;">
            <!-- Hour -->
            <mat-form-field appearance="outline" class="time">
                <mat-label>Hour</mat-label>
                <input type="number" matInput required formControlName="hour_to">
                <mat-hint>EX: 12 or 09</mat-hint>

                <!-- Errors -->
                <mat-error *ngIf="hour_to.hasError('required')">
                    This Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="hour_to.hasError('min')">
                    Minimum value is <strong>1</strong>
                </mat-error>

                <mat-error *ngIf="hour_to.hasError('max')">
                    Maximum value is <strong>12</strong>
                </mat-error>

                <mat-error *ngIf="hour_to.hasError('pattern')">
                    Please Enter a Valid Hour
                </mat-error>
                <!--  -->
            </mat-form-field>
            <!--  -->
            <!-- Minute -->
            <mat-form-field appearance="outline" class="time ml-5">
                <mat-label>Minute</mat-label>
                <input type="text" matInput required formControlName="minute_to">
                <mat-hint>
                    <strong>EX: 24 or 09</strong>
                </mat-hint>

                <!-- Errors -->
                <mat-error *ngIf="minute_to.hasError('required')">
                    This Field is <strong>required</strong>
                </mat-error>

                <mat-error *ngIf="minute_to.hasError('min')">
                    Minimum value is <strong>0</strong>
                </mat-error>

                <mat-error *ngIf="minute_to.hasError('max')">
                    Maximum value is <strong>59</strong>
                </mat-error>

                <mat-error *ngIf="minute_to.hasError('pattern')">
                    Please Enter a Valid Minute
                </mat-error>
            </mat-form-field>

            <strong class="amPm">
                <pre>{{ amOrpm_to.value }}</pre>
            </strong>

            <mat-button-toggle-group (change)="amOrPm_to_ValueChange(amOrpm_to.value)" #amOrpm_to="matButtonToggleGroup"
                style="height: 50px; margin-top: 3px; margin-left: 5px;" color="primary">
                <mat-button-toggle value="am">AM
                </mat-button-toggle>
                <mat-button-toggle value="pm">PM
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!--  -->
        <!-- AM PM Error -->
        <div *ngIf="amOrpmValue_to === '' && minute_to.touched && hour_to.touched && minute_to.dirty && hour_to.dirty"
            style="background-color: red; color: white; padding: 5px; margin-bottom: 12px; margin-top: 10px;">
            <strong>
                Please Select Am or Pm
            </strong>
        </div>
        <!--  -->
        <!--  -->
        <button class="mt-23" type="submit" mat-raised-button color="primary">Calculate</button>
    </form>

    <br>
    <div *ngIf="show_age">
        <div class="result">
            <h3>
                {{ age_format }}
            </h3>
            <!--  -->

            <!--  -->
            <div style="display: flex; align-items: center; flex-direction: column; margin-bottom: 10px;">
                <button type="button" (click)="ShowDetails_func()" mat-raised-button color="primary">
                    {{ detail_or_Hide_text }}
                </button>
            </div>
            <!--  -->
            <!--  -->
            <div *ngIf="show_details">
                <mat-list role="list">
                    <!--  -->
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem">
                        In Month: {{ age_in_months_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--  -->
                    <mat-list-item role="listitem">
                        In Days: {{ age_in_days_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--  -->
                    <mat-list-item role="listitem">
                        In Hours: {{ age_in_hour_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--  -->
                    <mat-list-item role="listitem">
                        In Minutes: {{ age_in_min_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--  -->
                    <mat-list-item role="listitem">
                        In Seconds: {{ age_in_sec_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--  -->
                    <mat-list-item role="listitem">
                        In Mili-Seconds: {{ age_in_milisec_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <!--  -->
                    <mat-list-item role="listitem">
                        In Weeks: {{ age_in_weeks_str }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </div>
        </div>
    </div>
</div>