/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container{
    display: flex;

    margin: 1rem;

    padding: 0 1rem;

    flex-wrap: wrap;
}

.flex-direction-column{
    flex-direction: column;
}

.big-font {
    font-size: 3rem;
}

.text-center {
    text-align: center;
}

