/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-shadow-box { 
    text-align: center; 
    padding-top: .5rem;
    padding-bottom: 3rem;
    margin: 0px 300px; 

    z-index: 991;
    line-height: normal;

    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2.5px 10px rgba(0,0,0,.2);

    border-radius: 7.5px;

    margin-top: 10px;
}

.big-font {
    font-size: 3rem;
}

.ml-10 {
    margin-left: 10px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-20 {
    margin-left: 20px;
}


