<!--  -->
<!--  -->
<!--  -->

<div class="mat-elevation-z2 mat-elevation-z8 container">
    <h1 class="header">
        Area Converter
    </h1>
    <mat-divider></mat-divider>
    <!--  -->
    <br><br>
    <!-- Form Field -->
    <form>

    </form>

    <button mat-icon-button color="primary">
        <mat-icon svgIcon="subway"></mat-icon>
        <span>Subway</span>
    </button>
    <br><br>
    <button mat-icon-button color="primary">
        <mat-icon svgIcon="atm"></mat-icon>
        <span>Atm</span>
    </button>
</div>