<!--  -->
<!--  -->
<!--  -->

<div class="mat-elevation-z2 mat-elevation-z8 container">
    <h1 class="header">
        Temperature Converter
    </h1>
    <!--  -->
    <!-- Form Field -->
    <form [formGroup]="temperature_form" (ngSubmit)="onSubmit()" class="form">
        <!-- From Unit -->
        <mat-form-field appearance="outline">
            <mat-label>From Unit</mat-label>
            <!--  -->
            <!--  -->
            <mat-select formControlName="unit_from" required [(value)]="selected_from">
                <mat-option>Select a Unit</mat-option>
                <mat-divider></mat-divider>
                <!--  -->
                <mat-option *ngFor="let temp_unit of temperature_units" [value]="temp_unit.value">
                    {{ temp_unit.name }}
                </mat-option>
            </mat-select>
            <mat-hint>
                Select a Temperature Unit
            </mat-hint>

            <!-- Error Validation -->
            <mat-error *ngIf="unit_from.hasError('required')">
                This Value is <strong>required</strong>
            </mat-error>

        </mat-form-field>

        <!-- {{ unit_from.status | json }} -->

        <!--  -->
        <!-- To Unit -->
        <mat-form-field appearance="outline">
            <mat-label>To Unit</mat-label>
            <!--  -->
            <!--  -->
            <mat-select formControlName="unit_to" required [(value)]="selected_to">
                <mat-option>Select a Unit</mat-option>
                <mat-divider></mat-divider>
                <!--  -->
                <mat-option *ngFor="let temp_unit_to of temperature_units" [value]="temp_unit_to.value">
                    {{ temp_unit_to.name }}
                </mat-option>
            </mat-select>
            <mat-hint>
                Select a Temperature Unit
            </mat-hint>

            <!-- Error Validation -->
            <mat-error *ngIf="unit_to.hasError('required')">
                This Value is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <!-- From Value -->
        <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <input matInput type="number" autocomplete="off" required formControlName="temp_value" />
            <!--  -->
            <mat-hint>Enter a Numeric Value</mat-hint>
            <!--  -->
            <mat-error *ngIf="temp_value.hasError('required')">
                This Value is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <!--  -->
        <button class="mt-23" mat-raised-button type="submit" color="primary">Convert</button>
    </form>

    <br>
    <div *ngIf="show_result" class="word-wrap" style="margin-bottom: 30px; padding: 5px; text-align: center;">
        <h1>
            <span *ngIf="selected_from != 'kelvin'; else from_kelvin">
                Result: {{ temp_value.value }}&deg;
            </span>
            <ng-template #from_kelvin>
                Result: {{ temp_value.value.toLocaleString() }}
            </ng-template>
            <span>{{ selected_from.charAt(0).toUpperCase() }}</span>
            <span *ngIf="selected_to != 'kelvin'; else to_kelvin">
                = {{ result.toLocaleString() }}&deg;
            </span>
            <ng-template #to_kelvin>
                = {{ result.toLocaleString() }}
            </ng-template>
            <span>
                {{ selected_to.charAt(0).toUpperCase() }}
            </span>
        </h1>
    </div>
</div>