<!--  -->
<!--  -->
<!--  -->

<div class="mat-elevation-z2 mat-elevation-z8 container">
    <h1 class="header">
        Length Converter
    </h1>
    <!--  -->
    <!-- Form Field -->
    <form [formGroup]="length_form" (ngSubmit)="onSubmit()" class="form">
        <!-- From Field -->
        <mat-form-field appearance="outline">
            <mat-label>From</mat-label>
            <mat-select formControlName="from" [(value)]="selected_from" required>
                <mat-option>Select a value</mat-option>
                <mat-divider></mat-divider>

                <mat-option *ngFor="let length of lengths" [value]="length.value">
                    {{ length.name }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="from.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <!--  -->
        <!-- To Field -->
        <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <mat-select formControlName="to" [(value)]="selected_to" required>
                <mat-option>Select a value</mat-option>
                <mat-divider></mat-divider>

                <mat-option *ngFor="let length_to of lengths" [value]="length_to.value">
                    {{ length_to.name }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="to.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <!--  -->
        <!--  -->
        <!-- Value Field -->
        <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <input matInput type="number" autocomplete="off" formControlName="value" required
                placeholder="Enter a numeric value">
            <mat-hint>Enter a numeric value</mat-hint>

            <mat-error *ngIf="value.hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <!--  -->
        <button mat-raised-button type="submit" color="primary" class="mt-23">Convert</button>
    </form>

    <br>
    <div *ngIf="show_result" class="word-wrap px-10">
        <h1>
            <!--  -->
            <span>
                Result: {{ value.value }} {{ selected_from }} =
            </span>
            <!--  -->
            <!-- If LocalString Does not gives result 0 then show result as localString -->
            <span *ngIf="result.toLocaleString() != '0'; else showFullResult;">
                {{ result.toLocaleString() }}
            </span>
            <!--  -->
            <!-- If LocalString gives result 0 then show the actual result-->
            <ng-template #showFullResult>
                {{ result }}
            </ng-template>
            <!--  -->
            <span>
                {{ selected_to }}
            </span>
        </h1>
    </div>
</div>