<!--  -->
<!--  -->
<!--  -->

<mat-toolbar color="primary">
    <!--  -->
    <!-- Logo Icon preference: layers, developer_board -->
    <!--  -->
    <mat-icon class="logo-icon">developer_board</mat-icon>

    <button class="logo" mat-button routerLink="/">Converter</button>

    <!-- This span class will right align other options -->
    <span class="right-align"></span>

    <span>
        <button mat-flat-button routerLink="/age">
            Calculate Age
        </button>
    </span>
    <span class="ml-12">
        <button mat-flat-button routerLink="/temperature">
            Temperature
        </button>
    </span>
    <span class="ml-12">
        <button mat-flat-button routerLink="/length">
            Length
        </button>
    </span>
    <span class="ml-12">
        <button mat-flat-button routerLink="/area">
            Area
        </button>
    </span>
    <span class="ml-12">
        <button mat-flat-button routerLink="/volume">
            Volume
        </button>
    </span>
    <span class="ml-12">
        <button mat-flat-button routerLink="/weight">
            Weight
        </button>
    </span>
    <span class="ml-12">
        <button mat-flat-button routerLink="/time">
            Time
        </button>
    </span>

    <!-- This should be at the end -->
    <button mat-icon-button [matMenuTriggerFor]="top_right_side_menu" aria-label="top Right Side Dotted Menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>



<!-- Material Menu -->
<mat-menu #top_right_side_menu="matMenu">
    <button mat-menu-item color="primary">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <!--  -->
    <mat-divider></mat-divider>
    <!--  -->
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Menu Option 1</span>
    </button>
    <!--  -->
    <mat-divider></mat-divider>
    <!--  -->
    <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Menu Option 2</span>
    </button>
    <!--  -->
    <mat-divider></mat-divider>
    <!--  -->
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Menu Option 3</span>
    </button>
</mat-menu>
<!-- End of Material Menu -->